// ========================================
// footer
// ========================================

// ---------------------------------
// Main container
// ---------------------------------
.Footer {
  background-color: $footer-bg-color;
  color: $footer-color;
  height: 50px;
}


// ---------------------------------
// Inner parts
// ---------------------------------
.site-footer-logo {
  padding-top: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
