// ========================================
// header
// ========================================

// ---------------------------------
// Main container
// ---------------------------------
.Header {
  height: $header-height;
  background-color: $header-bg-color;
  color: $header-color;
}


// ---------------------------------
// Inner parts
// ---------------------------------
.site-header-logo {
  padding-top: 24px;
  font-size: 1.6rem;
  font-weight: bold;
}
